@import 'tailwindcss';

:root {
  --background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  --foreground: #dfeef3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(135deg, #0a0a0a 0%, #1a1a2e 100%);
    --foreground: #ededed;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
}
